@model test3.Models.Phong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Phong</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenPhong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HangPhong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HangPhong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiaPhong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiaPhong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class="col-sm-2">
            Ảnh phòng
        </dt>

        <dd class="col-sm-10">
            @if (ViewBag.AnhPhongs != null && ViewBag.AnhPhongs.Count > 0)
            {
                foreach (var TenAnh in ViewBag.AnhPhongs)
                {
                    <img src="@Url.Content( "~/imgupload/anhphong/" + TenAnh)" alt="Ảnh phòng" />
                }
            }
            else
            {
                <p>No images available.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>