@model IEnumerable<test3.Models.Phong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Phòng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Phòng</li>
            </ol>
            <nav style="text-align: right;">
                <a asp-action="Create">
                    <button type="button" class="btn btn-info" style=""> + Thêm</button>
                </a>
            </nav>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">ID phòng</th>
                                    <th scope="col">Tên phòng</th>
                                    <th scope="col">Hạng phòng</th>
                                    <th scope="col">Giá/giờ</th>
                                    <th scope="col">Tình trạng</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row"><a href="#">@Html.DisplayFor(modelItem => item.SoPhong)</a></th>
                                        <td>@Html.DisplayFor(modelItem => item.TenPhong)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HangPhong)</td>
                                        <td>$@Html.DisplayFor(modelItem => item.GiaPhong)</td>
                                        <td>
                                            @if (item.TrangThai == "Đang thuê")
                                            {
                                                <span class="badge bg-danger">@Html.DisplayFor(modelItem =>
                                            item.TrangThai)</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-success">@Html.DisplayFor(modelItem =>
                                            item.TrangThai)</span>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" style="color:white">
                                                <button type="button" class="btn btn-success">
                                                    <i class="bi bi-pen"></i>
                                                </button>
                                            </a>

                                            <a asp-action="Delete" asp-route-id="@item.Id">
                                                <button type="button" class="btn btn-danger">X</button>
                                            </a>


                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Recent Sales -->
        </div>
    </section>

</main>
