@model test3.Models.DichVuSuDung

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DichVuSuDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDDV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
