@model test3.Models.HoaDon;
@using System.Linq;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var selectedKhachHangId = (int?)null;
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Đặt phòng</h1>
        <nav>
            <ol class="breadcrumb" style="width: 100%;">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Quản lý</li>
                <li class="breadcrumb-item active">Hóa Đơn</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab"
                                data-bs-target="#profile-overview">Phòng</button>
                        </li>


                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-khachhang">Khách
                                hàng</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-hoantat">Hoàn
                                tất</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <div class="row">
                                @foreach (var phong in ViewBag.Phongs)
                                {
                                    if (phong.TrangThai == "Trống")
                                    {
                                        <div class="col-md-3">
                                            <div class="card" style="width: 18rem;">
                                                @{
                                                    var phongId = phong.Id.ToString();
                                                    string imageUrl = "default-image-url";

                                                    foreach (var anhPhong in ViewBag.AnhPhongs)
                                                    {
                                                        if (anhPhong.NhomAnh == phongId)
                                                        {
                                                            imageUrl = Url.Content("~/imgupload/anhphong/" + anhPhong.TenAnh);
                                                            break;
                                                        }
                                                    }
                                                }
                                                <img src="@imageUrl" class="card-img-top" alt="AnhPhong @phong.SoPhong">
                                                <div class="card-body">
                                                    <a href="../../../../phongs/details/@phong.Id"
                                                        style="text-decoration: none;">
                                                        <h5 class="card-title">@phong.TenPhong</h5>
                                                    </a>
                                                    <p>Số phòng: @phong.SoPhong</p>
                                                    <p class="card-text">
                                                        Hạng phòng: @phong.HangPhong
                                                    </p>
                                                    <input type="radio" id="@phong.Id" name="chonphong" value="@phong.Id"
                                                        onclick="updateSelectedPhongId('@phong.Id','@phong.TenPhong')">
                                                    <label for="@phong.Id">Chọn</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>



                        <div class="tab-pane fade profile-overview pt-3 " id="profile-khachhang">

                            <h5 class="card-title">Thông tin khách hàng</h5>
                            <nav style="text-align: right;">
                                <a href="../../../../Khachhangs/create">
                                    <button type="button" class="btn btn-info">Thêm khách hàng</button>
                                </a>
                            </nav>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Giới tính</th>
                                        <th scope="col">Số điện thoại</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">CMND/CCCD</th>
                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var khachhang in ViewBag.KhachHangs)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <input type="radio" id="khachHang_@khachhang.Id" name="chonkhachhang"
                                                    value="@khachhang.Id"
                                                    onclick="updateSelectedKhachHangId('@khachhang.Id','@khachhang.TenKH')">
                                            </th>
                                            <td>@khachhang.TenKH</td>
                                            <td>@khachhang.GioiTinh</td>
                                            <td>@khachhang.SDT</td>
                                            <td>@khachhang.Email</td>
                                            <td>@khachhang.CCCD</td>
                                            <td>
                                                <a href="../../../../Khachhangs/Edit/@khachhang.Id" style="color:white">
                                                    <button type="button" class="btn btn-success">
                                                        <i class="bi bi-pen"></i>
                                                    </button>
                                                </a>
                                                <a href="../../../../Khachhangs/Delete/@khachhang.Id">
                                                    <button class="btn btn-danger">
                                                        X
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>

                        <div class="tab-pane fade profile-overview pt-3" id="profile-hoantat">
                            <h5 class="card-title">Hoàn tất</h5>
                            <form class="row g-3" asp-action="Create" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-6">
                                    <label asp-for="IDKH" class="Form-label">Tên khách hàng</label>
                                    <input asp-for="IDKH" id="selectedTenKhachHang" class="form-control" value=""
                                        readonly />
                                    <span asp-validation-for="IDKH" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="MaPhong" class="Form-label">Mã phòng</label>
                                    <input asp-for="MaPhong" id="selectedTenPhong" class="form-control" value=""
                                        readonly />
                                    <span asp-validation-for="MaPhong" class="text-danger"></span>
                                </div>

                                <input asp-for="TrangThai" style="display: none;" value="Chưa thanh toán" />

                                <!-- Add the service selection section -->
                                <div class="col-md-12">
                                    <label class="Form-label">Dịch vụ</label>
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Tên dịch vụ</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Loại dịch vụ</th>
                                                <th scope="col">Giá($)</th>
                                                <th scope="col">Tổng tiền($)</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dichVu in ViewBag.DichVus)
                                            {
                                                <tr>
                                                    <th scope="row">@dichVu.Id</th>
                                                    <td>@dichVu.TenDV</td>
                                                    <td>
                                                        <input type="number" name="quantity-@dichVu.Id" min="0"
                                                            class="form-control quantity-input" style="width: 70px;"
                                                            value="0" />
                                                    </td>
                                                    <td>@dichVu.LoaiDV</td>
                                                    <td>@dichVu.Gia</td>
                                                    <td class="total-amount">0</td>
                                                    <td>
                                                        <a href="../../../DichVus/Details/@dichVu.Id" style="color: white;">
                                                            <button type="button" class="btn btn-secondary" onclick="">
                                                                <i class="bi bi-book"></i>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5" style="text-align: right;"><strong>Tổng cộng:</strong>
                                                </td>
                                                <td id="grand-total" style="font-weight: bold;">0</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <label asp-for="IDNV" class="Form-label">Nhân viên</label>
                                    <select asp-for="IDNV" class="form-control">
                                        <option value="">--Vui lòng chọn--</option>
                                        @foreach (var nhanvien in ViewBag.NhanViens)
                                        {
                                            <option value="@nhanvien.TenNV">@nhanvien.TenNV</option>
                                        }
                                    </select>
                                    <span asp-validation-for="IDNV" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="NgayDat" class="Form-label">Ngày đặt</label>
                                    <input asp-for="NgayDat" class="form-control" type="date"
                                        value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="NgayDat" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="NgayNhan" class="Form-label">Ngày nhận</label>
                                    <input asp-for="NgayNhan" class="form-control" type="date"
                                        value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="NgayNhan" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="NgayTra" class="Form-label">Ngày trả</label>
                                    <input asp-for="NgayTra" class="form-control" type="date"
                                        value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="NgayTra" class="text-danger"></span>
                                </div>
                                <input asp-for="TongTien" class="form-control" value="0" type="hidden" />
                                <input asp-for="TrangThai" class="form-control" value="Chưa thanh toán" type="hidden" />
                                @foreach (var dichVu in ViewBag.DichVus)
                                {
                                    <input type="hidden" name="dichVuId-@dichVu.Id" value="@dichVu.Id" />
                                    <input type="hidden" name="dichVuTen-@dichVu.Id" value="@dichVu.TenDV" />
                                    <input type="hidden" name="dichVuGia-@dichVu.Id" value="@dichVu.Gia" />
                                }

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Tạo hóa đơn</button>
                                </div>
                            </form>
                        </div><!-- End Bordered Tabs -->

                    </div>

                </div>
            </div>
    </section>
    <!-- Script để xử lý sự kiện khi nhấn vào button Lưu -->
</main>

@section Scripts {
    <script>
        function updateSelectedKhachHangId(khachHangId, khachHangTen) {
            var khachHangTenInput = document.getElementById("selectedTenKhachHang");
            khachHangTenInput.value = khachHangTen;
            var khachHangIdInput = document.getElementById("IDKH");
            khachHangIdInput.value = khachHangId;
        }

        function updateSelectedPhongId(phongId, TenPhong) {
            var TenPhongInput = document.getElementById("selectedTenPhong");
            TenPhongInput.value = TenPhong;
            var phongIdInput = document.getElementById("MaPhong");
            phongIdInput.value = phongId;
        }
    </script>

}