@model IEnumerable<test3.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; int count = 1;
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Hóa đơn</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Quản lý</li>
                <li class="breadcrumb-item active">Hóa đơn</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên khách hàng</th>
                                    <th scope="col">Phòng</th>
                                    <th scope="col">Tên nhân viên</th>
                                    <th scope="col">Tổng</th>
                                    <th scope="col">Tình trạng</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@Html.DisplayFor(modelItem => item.IDKH)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MaPhong)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IDNV)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" style="color: white;">
                                                <button type="button" class="btn btn-success">
                                                    <i class="bi bi-book"></i>
                                                </button>
                                            </a>
                                            <a asp-action="Edit" asp-route-id="@item.Id">
                                                <button type="button" class="btn btn-danger">
                                                    X
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                                <script>
                                    function deleteRow(button) {
                                        // Traversing để tìm hàng <tr> chứa nút bấm
                                        var row = button.closest('tr');

                                        // Xóa hàng
                                        row.remove();
                                    }
                                </script>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Recent Sales -->
        </div>
    </section>

</main>
