@model IEnumerable<test3.Models.DichVu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dịch vụ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dịch vụ</li>
            </ol>
            <nav style="text-align: right;">
                <a asp-action="Create">
                    <button type="button" class="btn btn-info" style=""> + Thêm</button>
                </a>
            </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">ID dịch vụ</th>
                                    <th scope="col">Tên dịch vụ</th>
                                    <th scope="col">Loại dịch vụ</th>
                                    <th scope="col">Mô tả</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@Html.DisplayFor(modelItem => item.TenDV)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LoaiDV)</td>
                                        <td style="width: 150px;">@Html.DisplayFor(modelItem => item.MoTa)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Gia)đ</td>
                                        <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" style="color: white">
                                                <button type="button" class="btn btn-success">
                                                    <i class="bi bi-pen"></i>
                                                </button>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id">
                                                <button type="button" class="btn btn-danger">
                                                    X
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    count++;
                                }

                                <script>
                                    function deleteRow(button) {
                                        // Traversing để tìm hàng <tr> chứa nút bấm
                                        var row = button.closest('tr');
                                        // Xóa hàng
                                        row.remove();
                                    }
                                </script>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Recent Sales -->
        </div>
    </section>

</main>