@model IEnumerable<test3.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; int count = 1;

}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Khách Hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Quản lý</li>
                <li class="breadcrumb-item active">Khách Hàng</li>
            </ol>
            <nav style="text-align: right;">
                <a asp-action="Create">
                    <button type="button" class="btn btn-info">+ Thêm</button>
                </a>
            </nav>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên Khách Hàng</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Số Điện Thoại</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">CCCD</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@Html.DisplayFor(modelItem => item.TenKH)</td>
                                        <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SDT)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CCCD)</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" style="color:white">
                                                <button type="button" class="btn btn-success">
                                                    <i class="bi bi-pen"></i>
                                                </button>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id">
                                                <button class="btn btn-danger">
                                                    X
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                                <script>
                                    function deleteRow(button) {
                                        // Traversing để tìm hàng <tr> chứa nút bấm
                                        var row = button.closest('tr');

                                        // Xóa hàng
                                        row.remove();
                                    }
                                </script>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div><!-- End Recent Sales -->
        </div>
    </section>

</main>
